@using BUFFET.ViewModels.Interno
@model BUFFET.ViewModels.Interno.ClienteViewModel

@{
    ViewData["Title"] = "Clientes";
}

<h1>Controle Geral</h1>
<ul class="nav navbar-dark nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" asp-controller="Interno" asp-action="Index">Informações</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Interno" asp-action="Agenda">Agenda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Interno" asp-action="Eventos">Eventos</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" asp-controller="Interno" asp-action="Locais">Locais</a>
        </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Interno" asp-action="Financeiro">Financeiro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  active" asp-controller="Interno" asp-action="Cliente">Clientes</a>
    </li>
</ul>

<div>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Endereço</th>
            <th scope="col">CNPJ</th>
            <th scope="col">CPF</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Observação</th>
            <th scope="col">Data Inserção</th>
            <th scope="col">Último Acesso</th>
           <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
      
        @foreach (Cliente cliente in @Model.Clientes)
        {

            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Endereco</td>
                <td>@cliente.Cnpj</td>
                <td>@cliente.Cpf</td>
                <td>@cliente.DataNasc</td>
                <td>@cliente.Obs</td>
                <td>@cliente.DataIn</td>
                <td>@cliente.DataLast</td>
                <td>
                    <a href="Interno/EditCliente/@cliente.Id"><i class="fas fa-plus-alt"></i>Alterar</a>
                    <a href="Interno/RemoveCliente/@cliente.Id"><i class="fas fa-pencil-alt"></i>Excluir</a>
                </td>
            </tr>

        }
        
        </tbody>
    </table>
    
    <footer>
       <a class="btn btn-secondary nav-link text-dark" asp-area="" asp-controller="Interno" asp-action="CadCliente"><b>Novo Cliente</b></a>
        
    </footer>
    
</div>