@using System.Security.Policy
@using BUFFET.ViewModels.Internal
@model BUFFET.ViewModels.Internal.MinhaContaViewModel;
@{
    ViewData["Title"] = "Minha Conta";
}
<div class="text-center">
  <h1>Painel do Usuário</h1>
    
  <div class="container-fluid d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Dados Pessoais:</h5>
      <div class="input-group mb-3">
        <form asp-controller="Interno" asp-action="EditarUser" method="post">
          <label for="Username" class="input-group-text" id="inputGroup-sizing-default">Nome de usuário</label>
          <input id="Username" name="Username" type="text" class="form-control" aria-label="Sizing example input" value="@User.Identity.Name" aria-describedby="inputGroup-sizing-default">
          <br>
          <label for="email" class="input-group-text" id="inputGroup-sizing-default">Email</label>
                    <input id="email" type="text" class="form-control" aria-label="Sizing example input" value="" aria-describedby="inputGroup-sizing-default">
                    <br><label for="AtualSenha" class="input-group-text" id="inputGroup-sizing-default">Senha Atual</label>
          <input id="AtualSenha" name="AtualSenha" type="text" class="form-control"  aria-label="Sizing example input" value="" aria-describedby="inputGroup-sizing-default">
          <br><label for="Senha" class="input-group-text" id="inputGroup-sizing-default">Nova Senha</label>
          <input id="Senha" name="Senha" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          <br>
          <label for="ConfirmSenha" class="input-group-text" id="inputGroup-sizing-default">Confirmar Nova Senha</label>
                    <input id="ConfirmSenha" name="ConfirmSenha" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    <br><input type="submit" class="btn btn-primary" value="Alterar informações">
        </form>
      </div>
    </div>
  </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">CONTROLE2</h5>
        <div class="input-group mb-3">
           <table class="table table-striped">
                  <thead>
                  <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Data Acesso</th>
                  </tr>
                  </thead>
                  <tbody>
                  
                  @foreach (UsuarioHoraAcessoEnt local in @Model.UsuarioHoraAcessoEnt)
                  {
                      <tr>
                          <td >@local.Id</td>
                          <td >@local.Usuario.Id</td>
                           <td >@local.DataAcesso</td>
                      </tr>
                      
                  }
          
                
          
                  </tbody>
              </table>
        </div>
        
      </div>
  
    </div>
    </div>
</div>